<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<title>Отчет</title>
	<style>
		@media print
		{    
			.no-print, .no-print *
			{
				display: none !important;
			}
		}

		table, th, td {
			border: 1px solid #ddd;
			padding: .75rem;

		}
	</style>
</head>
<body>

	<div class="container-fluid">
		<h3 align="center"><b>Результаты оценки</b></h3>

		<!--вопросы со средним баллом-->
		<hr>


		<table>
			<thead style="background-color: #86cfda;">
				<tr><th>№ п/п</th><th>Компетенции</th><th>Балл по вопросу</th><th>Балл по вопросу</th><th>Балл по вопросу</th><th>Балл по вопросу</th><th>Балл по вопросу</th><th>Общая сумма баллов</th></tr>
			</thead>
			<tbody>
				<tr><td>1</td><td>Профессиональная компетентность</td><td>8</td><td>10</td><td>10</td><td>10</td><td>10</td><td>48</td></tr>

				<tr><td>2</td><td>Менеджмент</td><td>8</td><td>8</td><td>8</td><td>1</td><td>5</td><td>30</td></tr>

				<tr><td>3</td><td>Автономия (независимость)</td><td>9</td><td>10</td><td>7</td><td>10</td><td>7</td><td>43</td></tr>

				<tr><td>4</td><td>Стабильность работы</td><td>5</td><td>8</td><td>10</td><td></td><td></td><td>23</td></tr>

				<tr><td>5</td><td>Стабильность места жительства</td><td>10</td><td>3</td><td>10</td><td></td><td></td><td>23</td></tr>

				<tr><td>6</td><td>Служение</td><td>5</td><td>5</td><td>3</td><td>7</td><td>7</td><td>27</td></tr>

				<tr><td>7</td><td>Вызов</td><td>8</td><td>2</td><td>7</td><td>10</td><td>5</td><td>32</td></tr>

				<tr><td>8</td><td>Интеграция стилей жизни</td><td>1</td><td>4</td><td>10</td><td>6</td><td>10</td><td>31</td></tr>

				<tr><td>9</td><td>Предпринимательство</td><td>8</td><td>10</td><td>4</td><td>4</td><td>1</td><td>27</td></tr>
				
			</tbody>
		</table>



	</div>
</body>
</html>